# ==========================================
# 🏗️ Diretórios de Build
# ==========================================
# Ignora QUALQUER pasta com esses nomes em todo o repositório
build/
sim_build/
.Xil/

# ==========================================
# 💾 Hardware, Simulação e Logs (GHDL/Vivado/Cocotb)
# ==========================================
*.vcd
*.ghw
*.cf
*.log
*.jou
results.xml

# ==========================================
# 💻 Compilação de Software (C/Assembly/Hex)
# ==========================================
*.o
*.elf
*.hex
*.bin
*.map
*.signature

# ==========================================
# 🐍 Python e Ambientes Virtuais
# ==========================================
__pycache__/
*.pyc
.pytest_cache/
.venv/
venv/

# ==========================================
# 📚 Documentação e Dados
# ==========================================
site/
mnist.npz
data/