# Ignorar o diretório de build
/build/

# Ignorar arquivos de log e de onda do GHDL
*.cf
*.ghw
*.vcd

# Ignorar arquivos gerados pelo compilador de C
*.o
*.elf
*.bin
*.map

# Ignorar pycache do Python
__pycache__/

# Ignorar arquivos VIVADO (Xilinx)
.Xil
*.txt
*.jou
*.log

# MNIST image processing
mnist.npz